<!-- fragments/navbar.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<nav class="navbar navbar-expand-lg navbar-light" th:fragment="navbar">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img th:src="@{/images/decorhouse-logo.png}" alt="Logo" width="100">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link" th:href="@{/}">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/products}">Productos</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Servicios</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Nosotros</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Equipo</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Contactos</a></li>
            </ul>
            <div class="d-flex">
                <a href="#" class="nav-icon"><i class="fas fa-search" style="margin-right: 10px"></i></a>
                <a href="#" class="nav-icon"><i class="fas fa-shopping-cart" style="margin-right: 10px"></i></a>
                <a href="#" class="nav-icon"><i class="fas fa-user" style="margin-right: 10px"></i><span sec:authentication="name">usuario</span></a>
                <a href="#" class="nav-icon"><i class="fas fa-logout" style="margin-right: 10px"></i></a>
            </div>
        </div>
    </div>
</nav>
</body>
</html>
